// 文字裝飾
.open {

  &::before,
  &::after {
    content: '';
    width: 2px;
    height: 32px;
    background-color: #fff;
  }

  &::before {
    margin-right: 32px;
    transform: rotate(-35deg);
  }

  &::after {
    margin-left: 32px;
    transform: rotate(35deg);
  }
}

.news {
  .col-md-6 {
    @media(min-width:769px) {
      position: absolute;
      bottom: 5%;
      right: 0;
    }
  }
}