@import "bootstrap/scss/functions";
@import "./helpers/variables";
@import "./helpers/utilities";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Oleo+Script&family=Roboto:wght@400;700&display=swap');

@import "./Front/frontLayout.scss";
@import "./Front/homeView.scss";
@import "./Front/productsView.scss";

body {
  color: $primary;
  background-color: $light;
}

*::selection {
  color: $light;
  background-color: $secondary;
}

.swal2-icon {
  border-color: transparent !important;
}

// 隱藏 input[type="number"] 的箭頭
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
